{
    "extends": "eslint:recommended",
    "env": {
        "browser": true
    },
    "globals": {
        "_": true,
        "chrome": true,
        "Clipboard": true,
        "localStorage": true,
        "$": true,
        "QUnit": true,
        "require": true,
        "urlNotification": true
    },
    "rules": {
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "functions": "never"
        }],
        "indent": ["error", 2],
        "no-console": ["error", { "allow": ["info", "warn", "error"] }],
        "eqeqeq": "error",
        "quotes": ["error", "single"]
    }
}
