{
    "extends": "eslint:recommended",
    "env": {
        "browser": true
    },
    "globals": {
        "chrome": true,
        "localStorage": true,
        "$": true,
        "urlNotifier": true
    },
    "rules": {
        "eqeqeq": "error"
    }
}
