html, body, h1, h2, h3, h4, h5, h6, div {
    position: relative;
    margin: 0px;
    padding: 0px;
}

html, table {
    font-size: 12px;
}

html, input, select {
    font-family: "メイリオ", Meiryo;
}

.w100 { width: 100px; }
.w200 { width: 200px; }
.w300 { width: 300px; }
.w400 { width: 400px; }
.w500 { width: 500px; }

.minw100 { min-width: 100px; }
.minw200 { min-width: 200px; }
.minw300 { min-width: 300px; }
.minw400 { min-width: 400px; }
.minw500 { min-width: 500px; }

.textError { color: #fd0006; }

.m10 { margin: 10px; }
.m20 { margin: 20px; }
.m30 { margin: 30px; }
.m40 { margin: 40px; }
.m50 { margin: 50px; }

.mBottom10 { margin-bottom: 10px; }
.mBottom20 { margin-bottom: 20px; }
.mBottom30 { margin-bottom: 30px; }
.mBottom40 { margin-bottom: 40px; }
.mBottom50 { margin-bottom: 50px; }

.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p30 { padding: 30px; }
.p40 { padding: 40px; }
.p50 { padding: 50px; }

.pRight10 { padding-right: 10px; }
.pRight20 { padding-right: 20px; }
.pRight30 { padding-right: 30px; }
.pRight40 { padding-right: 40px; }
.pRight50 { padding-right: 50px; }

.list-action-copy {
    margin-right: 10px;
    color: #000000;
    cursor: pointer;
}

.list-action-edit {
    margin-right: 10px;
    color: #000000;
    cursor: pointer;
}

.list-action-delete {
    color: #bb0000;
    cursor: pointer;
}

.list-action-delete-confirm {
    display: none;
    padding: 0px 20px;
}

.list-action-delete-accept {
    background: #0044cc;
    color: #ffffff;
    margin: 0px 5px;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.list-action-delete-cancel {
    background: #444444;
    color: #ffffff;
    margin: 0px 5px;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 3px;
}
