// Variables override

// Color system

$blue: #337ab7;
$red: #d9534f;
$yellow: #f0ad4e;
$green: #5cb85c;

$dark: #212529; // (= $gray-900)

// Typography

$font-size-base: 0.9rem;

@import "../../node_modules/bootstrap";
